{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <meta charset="utf-8" />
    <title>🌍 R-Class | Join Us. Change the world.</title>
    <link rel="icon" href="{% static 'images/logo/r.png' %}" />

    <link
      rel="preload"
      href="{% static 'css/e950135ece9f0b0d.css' %}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/e950135ece9f0b0d.css' %}"
      data-n-g=""
    />
    <link
      rel="preload"
      href="{% static 'css/719f44d6cce7cd0f.css' %}"
      as="style"
    />
    <link
      rel="preload"
      href="{% static 'css/787821a2b7718585.css' %}"
      as="style"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/speech.css' %}" />
    <script
      defer=""
      nomodule=""
      src="{% static 'js/chunks/polyfills-5cd94c89d3acac5f.js' %}"
    ></script>
    <script
      src="{% static 'js/chunks/webpack-87be6aea176f6282.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/framework-568b840ecff66744.js' %}"
      defer=""
    ></script>
    <script
      src="{% static 'js/chunks/main-90ea6749a2c4f357.js' %}"
      defer=""
    ></script>
  </head>
  <body>
          <div style="height: 75px;">
            <div class="Header_header__c7sEG">
                <div class="container Header_container__ZF_iK" style="background: #ffff;">
                  <a class="Logo_logo__nj7RB Header_logo__Y_FUf" href="/">
                      <span>
                          <span style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 152px; height: initial; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; opacity: 1; border: 0px none; margin: 0px; padding: 0px; position: relative; max-width: 100%;">
                              <span style="box-sizing: border-box; display: block; width: initial; height: initial; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; opacity: 1; border: 0px none; margin: 0px; padding: 0px; max-width: 100%;">
                                  <img style="display: block; max-width: 100%; width: initial; height: initial; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; opacity: 1; border: 0px none; margin: 0px; padding: 0px;" alt="" aria-hidden="true" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"></span>
                      <img alt="Jocund" src="{% static 'images/logo/main_logo.png' %}" decoding="async" data-nimg="intrinsic" style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: medium none; margin: auto; display: block;"></span>
                      </span>
                  </a>
                  <div class="Header_wrapper__YaZq_">
                      <nav class="Header_nav__eRLoX">
                         <a class="Header_link__ikBIz" href="/#about/">About R-Class</a>
                          <a style="color: #6a55ea;" class="Header_link__ikBIz" href="/games/">Block Game</a>
                          <a style="color: #6a55ea;" class="Header_link__ikBIz" href="/bubble/">Bubble Game</a>
                          <a class="Header_link__ikBIz" href="/video/">Recorded Classes</a>
                          <a class="Header_link__ikBIz" href="/audiobook/">Audio Books</a>
                          <a style="cursor: pointer;" href="/jclass/" class="button-sm Header_button__cj5WR">R-Board</a>
                  </div>
                  
                  <a style="cursor: pointer;" href="/login/" class="button-sm Header_button__cj5WR">Login</a>
                  <button class="Header_burger__I19bE"></button>
              </div>
          </div>
      
    </div>
    <div style="padding: 20px;">
        <header>
            <h1 style="color: #7534d6;">Text To Speech Conversion</h1>
          </header>
          <main>
            <form class="input" id="voice-form">
              <div class="field">
                <label for="speech">Type something</label>
                <input type="text" name="speech" id="speech" required autofocus="autofocus"/>
              </div>
              <div class="field">
                <label for="voices">Choose a voice</label>
                <select name="voices" id="voices"></select>
              </div>
              <button>Say it!</button>
              
            </form>
            
          </main>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
          const form = document.getElementById('voice-form');
          const input = document.getElementById('speech');
          const main = document.getElementsByTagName('main')[0];
          const voiceSelect = document.getElementById('voices');
          let voices;
          let currentVoice;
  
          const populateVoices = () => {
            const availableVoices = speechSynthesis.getVoices();
            voiceSelect.innerHTML = '';
  
            availableVoices.forEach(voice => {
              const option = document.createElement('option');
              let optionText = `${voice.name} (${voice.lang})`;
              if (voice.default) {
                optionText += ' [default]';
                if (typeof currentVoice === 'undefined') {
                  currentVoice = voice;
                  option.selected = true;
                }
              }
              if (currentVoice === voice) {
                option.selected = true;
              }
              option.textContent = optionText;
              voiceSelect.appendChild(option);
            });
            voices = availableVoices;
          };
  
          populateVoices();
          if (speechSynthesis.onvoiceschanged !== undefined) {
            speechSynthesis.onvoiceschanged = populateVoices;
          }
  
          voiceSelect.addEventListener('change', event => {
            const selectedIndex = event.target.selectedIndex;
            currentVoice = voices[selectedIndex];
          });
  
          form.addEventListener('submit', event => {
            event.preventDefault();
            const toSay = input.value.trim();
            const utterance = new SpeechSynthesisUtterance(toSay);
            utterance.voice = currentVoice;
            utterance.addEventListener('start', event => {
              main.classList.add('speaking');
            });
            utterance.addEventListener('end', event => {
              main.addEventListener(
                'animationiteration',
                event => {
                  main.classList.remove('speaking');
                },
                {
                  once: true
                }
              );
            });
            speechSynthesis.speak(utterance);
            input.value = '';
          });
        });
      </script>
  </body>
</html>
